:root {
  /* Variables are now defined in main.css or a dedicated variables file */
}

body {
  margin: 0;
  height: 100vh;
  display: grid; /* Make body the main grid container */
  grid-template-rows: auto 1fr; /* Header row, then main content row */
  grid-template-areas:
    "header"
    "main";
  background: #edf7e4;
  background: linear-gradient(
    90deg,
    rgba(237, 247, 228, 1) 0%,
    rgba(225, 235, 221, 1) 50%,
    rgba(211, 219, 206, 1) 100%
  );
  font-family: "Manrope", sans-serif;
}

.dashboard {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 200px;
  padding: 60px;
  background: white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #064e3b;
}

.login {
  display: grid;
  flex-direction: column;
  gap: 15px;
  font-size: 30px;
}

.button {
  background-color: var(--primary-container);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: var(--on-secondary-container);
}

.username {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--primary-container);
  border-radius: 4px;
  box-sizing: border-box;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
.success {
  color: green;
  margin-top: 10px;
  font-size: 14px;
}

.register-link {
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary-container);
  text-decoration: none;
}
